<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Update user</title>
</head>

<style>
  table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    background: white;
    max-width: 70%;
    width: 70%;
    border-collapse: collapse;
    text-align: left;
  }
  th {
    font-weight: normal;
    color: #039;
    border-bottom: 2px solid #6678b1;
    padding: 10px 8px;
  }
  td {
    color: #669;
    padding: 9px 8px;
    transition: .3s linear;
  }
  tr:hover td {
    color: #6699ff;
  }</style>

<body>
<table class="table_blur">
  <tr>
    <th colspan="4" text-align="center"> </th>
  </tr>
  <tr>
    <th>Имя</th>
    <th>Фамилия</th>
    <th>Возраст</th>
    <th>     </th>
  </tr>
  <tr>
    <form th:method="patch" th:action="@{/users/{id}(id=${user.getId()})}" th:object="${user}">
      <td><input type="text" th:field="*{name}" id="name"/></td>
      <td><input type="text" th:field="*{surname}" id="surname"/></td>
      <td><input type="text" th:field="*{age}" id="age"/></td>
      <td><input type="submit" value="Изменить"/></td>
    </form>
  </tr>
</table>
</body>
</html>